In [1]:
#import required packages
import wrds
import pandas as pd
import datetime
import pymysql

In [2]:
#establish WRDS connection
db = wrds.Connection(wrds_username='pankick')
#password: Pat940716
#db.raw_sql('SELECT date,dji FROM djones.djdaily LIMIT 5')

Enter your WRDS username [yanggao]:pankick
Enter your password:········
WRDS recommends setting up a .pgpass file.
You can find more info here:
https://www.postgresql.org/docs/9.5/static/libpq-pgpass.html.
Loading library list...
Done

In [6]:
now = datetime.datetime.now()
today = now.strftime("%Y-%m-%d")
today

'2019-05-15'

In [7]:
datetime.datetime.now().strftime("%Y-%m-%d")

'2019-05-15'

In [ ]:
#db.create_pgpass_file()

In [ ]:
#help(db.get_table)
#help(db.raw_sql)

In [ ]:
#df = db.raw_sql('SELECT date,dji FROM djones.djdaily LIMIT 10;', date_cols = ['date'])

In [ ]:
#db.list_libraries()

In [ ]:
#db.list_tables(library="compd")

In [ ]:
#db.describe_table(library="compd", table="secd")

In [8]:
data = db.raw_sql("SELECT * FROM compd.names WHERE conm LIKE '%%BOX%%';")
data

,gvkey,conm,tic,cusip,cik,sic,naics,gsubind,gind,year1,year2
0,005033,GENERAL BOX CO,GBXO,369208103,0000040470,2650,None,None,None,1960.0,1970.0
1,006756,LIQUI-BOX CORP,LIQB,536314107,0000216430,3089,326121,15103010,151030,1977.0,2001.0
2,012121,UNIVERSAL MATCHBOX GROUP LTD,UMG.1,913730107,0000788592,3944,339932,25202010,252020,1982.0,1991.0
3,012300,MAIL BOXES ETC,MAIL.,560310104,0000791014,6794,533110,25504040,255040,1984.0,1996.0
4,013092,JACK IN THE BOX INC,JACK,466367109,0000807882,5812,722513,25301040,253010,1986.0,2018.0
5,013270,BOX WORLDWIDE INC,BOXW,102904109,0000803266,4833,513120,25401020,254010,1986.0,1996.0
6,017807,LIGHTINTHEBOX HLDG -ADR,LITB,53225G102,0001523836,5961,454111,25502020,255020,2008.0,2017.0
7,020088,BOX INC,BOX,10316T104,0001372612,7370,519130,45103010,451030,2011.0,2018.0
8,023564,BLACK BOX INC,6847B,091827105,None,5961,454110,25502020,255020,1985.0,1989.0
9,024421,BOXLIGHT CORP,BOXL,103197109,0001624512,3861,333316,45202030,452020,2015.0,2018.0
10,025683,PAYBOX CORP,PBOX,70433R209,0000879703,7370,518210,45102020,451020,1991.0,2016.0
11,026012,BLACK BOX CORP,BBOX,091826107,0000849547,7370,541519,45201020,452010,1991.0,2017.0
12,027526,ISHARES IBOXX HG YLD OIL GAS,HYXE,46435G441,None,6722,525910,None,None,2016.0,2018.0
13,028990,SKYBOX INTL INC,SKYB,830914107,0000909687,2750,32311,20201010,202010,1989.0,1994.0
14,029577,KIWIBOX COM INC,KIWB,49835F104,0000838796,7370,519130,50203010,502030,1999.0,2016.0
15,033152,DROPBOX INC,DBX,26210C104,0001467623,7370,519130,45103010,451030,2015.0,2018.0
16,034417,BOXWOOD MERGER CORP,BWMC,10319T101,0001751143,9995,999990,None,None,2017.0,2018.0
17,034591,FIT BOXX HOLDINGS LTD -REDH,FBOX,33899F937,0001747624,5940,451110,25504040,255040,2016.0,2017.0
18,130199,D-BOX TECHNOLOGIES INC,DBOXF,23305P108,0001662994,3651,334310,25201010,252010,2008.0,2017.0
19,133204,BUSYBOX.COM INC,BUSY,123335101,0001088316,7370,514191,45101010,451010,1998.0,1999.0
20,149719,ISHARES IBOXX INVST GR CP BD,LQD,464287242,None,6722,525910,None,None,2002.0,2018.0
21,170853,GREEN POLKADOT BOX INC,GPDB,393229109,0001159464,5961,454111,30101030,301010,2012.0,2013.0
22,177152,ISHARES IBOXX HIGH YLD CP BD,HYG,464288513,None,6722,None,None,None,2007.0,2018.0
23,186875,BOX SHIPS INC,TEUFF,Y09675201,0001504795,4412,483111,20303010,203030,2010.0,2016.0
24,189542,FLEXSHARES IBOXX 3-YR TAR FD,TDTT,33939L506,None,6722,525910,None,None,2011.0,2018.0
25,189543,FLEXSHARES IBOXX 5-YR TAR FD,TDTF,33939L605,None,6722,525910,None,None,2011.0,2018.0

In [ ]:
sample_sql = "SELECT * FROM compd.secd WHERE tic = 'NVET' AND datadate >= '2015-01-01' LIMIT 5;"
data1 = db.raw_sql(sample_sql)
list(data1)

In [ ]:
#Create tables for company performance data 
sql =

In [ ]:
def searchtic():
    name = input("Enter company name:").upper()
    sql = "SELECT tic, conm FROM compd.names WHERE conm LIKE '%%{}%%';".format(name)
    data = db.raw_sql(sql)
    return data

In [ ]:
#Search conmay tic by its partial name
def searchtic(*n):
    if len(n) == 0:
        name = input("Enter company name:").upper()
        sql = "SELECT tic, conm FROM compd.names WHERE conm LIKE '%%{}%%';".format(name)
    elif len(n) == 1:
        name = n[0].upper()
        sql = "SELECT tic, conm FROM compd.names WHERE conm LIKE '%%{}%%';".format(name)
    else:
        sql = "SELECT tic, conm FROM compd.names WHERE conm LIKE '%%{}%%';".format(n[0].upper())
        for name in n[1:]:
            add = " AND conm LIKE '%%{}%%'".format(name.upper())
            sql = sql[:-1] + add + ";"
    
    data = db.raw_sql(sql)
    return data

In [ ]:
searchtic()

In [ ]:
#test query here
sql = "SELECT tic, conm FROM compd.names WHERE conm LIKE '%%{}%%';"
db.raw_sql(sql)

In [ ]:
#create functions for data access
def getdailystock(tic, start, end, count):
    tic = input('Enter company tic:')
    start = input('Enter start date as yyyy-mm-dd:')
    end = input('Enter end date as yyyy-mm-dd:')
    count = int(input('Enter number of rows to display:'))
    sql = """SELECT * FROM compd.secd WHERE tic = '%s' AND datadate >= '%s' AND datadate <= '%s' LIMIT %d ;""" % (tic, start, end, count)
    data = db.raw_sql(sql)
    return data

In [ ]:
def getdailystock():
    select = input('Enter the information you want to retrieve (separate by comma, leaving it blank will display all):')
    tic = input('Enter company tic:')
    start = input('Enter start date as yyyy-mm-dd:')
    end = input('Enter end date as yyyy-mm-dd:')
    count = int(input('Enter number of rows to display:'))
    if select == '':
        select = '*'
    sql = """SELECT %s FROM compd.secd WHERE tic = '%s' AND datadate >= '%s' AND datadate <= '%s' LIMIT %d ;""" % (select, tic, start, end, count)
    data = db.raw_sql(sql)
    return data

In [ ]:
getdailystock()

In [ ]:
def gettoday():
    date = datetime.datetime.now().strftime("%Y-%m-%d")
    count = input('Enter number of rows to display:')
    if count == '':
        sql = """SELECT * FROM compd.secd WHERE datadate = '%s' ;""" % (date)
    else: 
        count = int(count)
        sql = """SELECT * FROM compd.secd WHERE datadate = '%s' LIMIT %d ;""" % (date, count)
    data = db.raw_sql(sql)
    return data

In [ ]:
def getyesterday():
    date = (datetime.datetime.now() - datetime.timedelta(1)).strftime("%Y-%m-%d")
    count = input('Enter number of rows to display:')
    if count == '':
        sql = """SELECT * FROM compd.secd WHERE datadate = '%s' ;""" % (date)
    else: 
        count = int(count)
        sql = """SELECT * FROM compd.secd WHERE datadate = '%s' LIMIT %d ;""" % (date, count)
    data = db.raw_sql(sql)
    return data

In [ ]:
#Get yesterday's company data
def getyesterday():
    date = (datetime.datetime.now() - datetime.timedelta(1)).strftime("%Y-%m-%d")
    count = input('Enter number of rows to display:')
    if count == '':
        sql = "SELECT * FROM compd.secd WHERE datadate = '{}' ;".format(date)
    else: 
        count = int(count)
        sql = "SELECT * FROM compd.secd WHERE datadate = '{}' LIMIT {} ;" .format(date, count)
    data = db.raw_sql(sql)
    return data

In [ ]:
getyesterday()

In [ ]:
ipo = pd.read_csv("ipo.csv")
names = ipo.iloc[:,1]

In [ ]:
str(list(names))[1:-1]

In [ ]:
#Get all company data for companies listed in the csv file(column name is Symbol for tic)
def getfromlist():
    url = input("Please type in your file url:")
    names = list(pd.read_csv(url).loc[:,'Symbol'])
    sql = "SELECT * FROM compd.secd WHERE tic IN ({}) AND datadate >= '2016-01-01' ORDER BY tic;".format(str(names)[1:-1])
    data = db.raw_sql(sql)
    return data

In [ ]:
#Get company tic list from csv (column name is Symbol for tic)
def ticfromfile(*u):
    if len(u) == 0:
        url = input("Please type in your file url:")
    else:
        url = u[0]
    names = pd.read_csv(url).loc[:,'Symbol']
    return list(names)

In [ ]:
def get_daily_update():
    url = "ipo.csv"
    names = pd.read_csv(url).loc[:,'Symbol']
    date1 = (datetime.datetime.now() - datetime.timedelta(5)).strftime("%Y-%m-%d")
    date2 = (datetime.datetime.now() - datetime.timedelta(1)).strftime("%Y-%m-%d")
    #modify date input later
    sql = "SELECT * FROM compd.secd WHERE tic IN ({}) AND datadate >= '{}' AND datadate <= '{}' ORDER BY tic;".format(str(list(names))[1:-1], date1, date2)
    data = db.raw_sql(sql)
    return data

In [ ]:
(datetime.datetime.now() - datetime.timedelta(6)).strftime("%Y-%m-%d")

In [ ]:
get_daily_update()

In [ ]:
sql = 
cur.execute(sql)
conn.commit()

In [ ]:
perform.head()

In [ ]:
import MySQLdb

In [ ]:
df = getfromlist().tail()

In [ ]:
####update sp 500
def update_sp500(data):
    import bs4 as bs
    import urllib.request

    source = urllib.request.urlopen('https://www.nasdaq.com/symbol/spx/historical').read()
    soup = bs.BeautifulSoup(source,'lxml')

    import pandas as pd

    table = soup.find('tbody')

    table_rows = table.find_all('tr')

    for tr in table_rows:
        td = tr.find_all('td')
        row = [i.text for i in td]
        print(row)

    df1= []
    for tr in table_rows:
        td = tr.find_all('td')
        row = [i.text.strip() for i in td]
        #print(row[0:5])
        #print(type(row))
        df1.append(row)

    df1 = pd.DataFrame(df1, columns=['time', 'open', 'high', 'low', 'last', '0'])
    df1 = df1.drop(['0'], axis=1)
    data =
    return data

In [3]:
#Connecting to Mysql
import pandas as pd
import pymysql
from sqlalchemy import create_engine
host="isproject.czwxn60qeghl.us-east-1.rds.amazonaws.com"
port=3306
schema="IPO"
user="admin1234"
password="admin1234"

#conn = pymysql.connect(host, user=user,port=port,passwd=password, db=dbname)
#engine = create_engine('mysql+mysqlconnector://os.environ['user']:os.environ['password']@os.environ['host']:os.environ['port']/sandbox', echo=False)
#engine = create_engine('mysql+mysqlconnector://[user]:[password]@[host]:[port]/[schema]', echo=False)
#engine = create_engine('mysql+mysqlconnector://[admin1234]:[admin1234]@[isproject.czwxn60qeghl.us-east-1.rds.amazonaws.com]:[3306]/[IPO]', echo=False)
#engine = create_engine("mysql+mysqldb://{}:{}@{}:{}/{}".format(user, password, host, port, schema))
engine = pymysql.connect(host,user,password,schema)
db_connection= pymysql.connect(host,user,password,schema)

In [4]:
cur =db_connection.cursor()
sql = "SELECT * FROM perform;"
cur.execute(sql)
#conn.commit()

129450

In [5]:
lowball = pd.read_csv('merge_data_lowball.csv')
lowball.to_sql(name='lowball', con=engine, if_exists = 'replace', index=False)

FileNotFoundError: File b'merge_data_lowball.csv' does not exist

In [ ]:
#Create new table in database
perform.to_sql(name='perform', con=engine, if_exists = 'replace', index=False)

In [6]:
###Create sp500 table in database
sp500 = pd.read_csv('SP500.csv')
#sp500 = update_sp500(sp500)
sp500.to_sql(name ='sp500', con=engine , if_exists = 'replace', index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting

In [5]:
pd.read_sql("SELECT table_name FROM information_schema.tables WHERE table_type = 'base table' AND table_schema='IPO';", con=engine)

  table_name
0   ipo_char
1   ipo_info
2    lowball
3    perform
4      sp500
5       test

In [ ]:
pd.read_sql("SELECT conm from perform GROUP BY conm ORDER BY datadate;", con=engine)

In [ ]:
colname = str(list(data1))[1:-1]

In [ ]:
#Update company data
tics = ticfromfile()
tic = tics[10]
sql = "INSERT INTO {}({}) VALUES (v11,v12,...), (v21,v22,...), (vnn,vn2,...);".format(tic,colname)
sql

In [ ]:
db.close()