In [7]:
import pandas as pd
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go
import pymysql

In [8]:
host="isproject.czwxn60qeghl.us-east-1.rds.amazonaws.com"
port=3306
dbname="IPO"
user="admin1234"
password="admin1234"

conn = pymysql.connect(host, user=user,port=port,
                           passwd=password, db=dbname)

In [9]:
ipo = pd.read_sql('select * from ipo_char;', con=conn)
ipo.head()

,company,symbol,market,price,shares,amount,date
0,ADVANCED ACCELERATOR APPLICATI,AAAP,NASDAQ,16,4688000,75008000,11/11/2015
1,ATLANTIC ALLIANCE PARTNERSHIP,AAPC,NASDAQ,10,7500000,75000000,4/29/2015
2,"ALLEGIANCE BANCSHARES, INC.",ABTX,NASDAQ,21,2600000,54600000,10/8/2015
3,"ACLARIS THERAPEUTICS, INC.",ACRS,NASDAQ,11,5000000,55000000,10/7/2015
4,ADAPTIMMUNE THERAPEUTICS PLC,ADAP,NASDAQ,17,11250000,191250000,5/6/2015

In [13]:
import plotly 
plotly.tools.set_credentials_file(username='Pankick', api_key='IOQSw11oXsY0N5834OlH')

In [11]:
ipo_datesort = ipo.sort_values(by=['date'])
ipo_datesort.head()

,company,symbol,market,price,shares,amount,date
151,"PATRIOT NATIONAL, INC.",PN,NYSE,14,8315700,116419800,1/16/2015
156,"EXELA TECHNOLOGIES, INC.",QPACU,NASDAQ,10,35000000,350000000,1/16/2015
98,"COUNTY BANCORP, INC.",ICBK,NASDAQ,16,1180000,18585000,1/16/2015
28,BOX INC,BOX,NYSE,14,12500000,175000000,1/23/2015
68,EURONAV NV,EURN,NYSE,12,16260000,199185000,1/23/2015

In [14]:
ipo_sorted_date = ipo.sort_values(by=['date'])
data0 = [go.Bar(x=ipo_sorted_date.symbol,
            y=ipo_sorted_date.amount)]  
py.iplot(data0, filename='IPO_Amount_chart')

c:\users\patri\appdata\local\programs\python\python37\lib\site-packages\IPython\core\display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [15]:
data1 = [go.Bar(x=ipo_sorted_date.symbol,
            y=ipo_sorted_date.price)]
py.iplot(data1, filename='IPO_Price_chart')

In [11]:
list(ipo)

['company', 'symbol', 'market', 'price', 'shares', 'amount', 'date']

In [16]:
ipo0=ipo_sorted_date[ipo_sorted_date['market']=='NASDAQ']
ipo1=ipo_sorted_date[ipo_sorted_date['market']=='NYSE']
ipo2=ipo_sorted_date[(ipo_sorted_date['market']!='NYSE') & (ipo_sorted_date['market']!='NASDAQ')]

In [17]:
trace0 = go.Scatter(
    x = ipo0['date'],
    y = ipo0['price'],
    name='NASDAQ',
    mode='markers',
    text=ipo0['company'],
    marker=dict(
        size=ipo0['amount']/20000000,
        color=1
        
    )
)

trace1 = go.Scatter(
    x = ipo1['date'],
    y = ipo1['price'],
    name='NYSE',
    mode='markers',
    text=ipo1['company'],
    marker=dict(
        size=ipo1['amount']/20000000,
        color=2
        
    )
)

trace2 = go.Scatter(
    x = ipo2['date'],
    y = ipo2['price'],
    name='Other',
    mode='markers',
    text=ipo2['company'],
    marker=dict(
        size=ipo1['amount']/20000000,
        color=3
        
    )
)

layout= go.Layout(
    title= 'IPO Information',
    hovermode= 'closest',
    xaxis= dict(
        title= 'Date',
        
    ),
    yaxis=dict(
        title= 'IPO Price',
        ticklen= 5,
       
    ),
    showlegend= True
)
data2 = [trace0, trace1, trace2]
fig = dict(data=data2, layout=layout)
py.iplot(fig, filename='IPO_Scatter')

In [21]:
plotly.offline.plot(fig, filename='IPO_plot.html')

'IPO_plot.html'

In [22]:
plotly.offline.plot(data0, filename='IPO_amount.html')
plotly.offline.plot(data0, filename='IPO_price.html')

'IPO_price.html'